.btn-japon1 {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}

.btn-sushi {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}

.btn-cascade {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}
.btn-banner {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}

.btn-kremlin {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}

.btn-st {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}

.btn-nyc {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}

.btn-argenti {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}

.btn-Headhunterz {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}
.btn-cali {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 300px;
	color: white;
	font-weight: bold;
}